!t/
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
node_modules
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea/
iron.iml
*.sublime-workspace
*.sublime-project
/nbproject/
.tm_properties
.tags
.tags_sorted_by_file
.buildpath
.project
.settings/
.externalToolBuilders/
.sass-cache
/xhprof*
.vagrant
composer.lock
/vendor
*.iml
!test/bootstrap.php
