<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="test/bootstrap.php"
         colors="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="true"
         stopOnFailure="true"
         stopOnIncomplete="true"
         stopOnSkipped="true">
>
    <testsuites>
        <testsuite name="Zan Test Suite">
            <directory suffix="Test.php">./test/Network</directory>
            <directory suffix="Test.php">./test/Sdk</directory>
            <directory suffix="Test.php">./test/Store</directory>
            <directory suffix="Test.php">./test/Testing</directory>
            <directory suffix="Test.php">./test/Utilities</directory>
            <directory suffix="Test.php">./test/Foundation</directory>
        </testsuite>
    </testsuites>
</phpunit>